.section {
	padding-left: 10px;
}

.section-head {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.section-content {
	padding-left: 15px;
}
.page-head {
	padding-bottom: 5px;
	text-align: center;
}