.section {
	padding-left: 10px;
}

.section-head {
	padding-left: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.section-content {
	padding-left: 15px;
}
.big-header {
	padding-bottom: 5px;
}